# Ignore the API usage JSON file
skills/system/mysys.md
tools/subsec/voice/server.pem
.auto-f
ai-history
tools/agentic/fusion/logs
tools/map/skeleton.json
tools/map/skeleton-ai.json
.request_log

# Ignore Python cache directories and bytecode
__pycache__/
*.pyc
